toprakkilic.com, mta-sts.toprakkilic.com, openpgpkey.toprakkilic.com {
    root * /srv/www/toprakkilic.com
    encode
    file_server
    @notpublic path /.git/* /Caddyfile /README.md /LICENSE /_headers /.gitignore
    respond @notpublic 404
    header /.well-known/openpgpkey/* Access-Control-Allow-Origin "*"
}
www.toprakkilic.com {
    redir https://toprakkilic.com{uri} permanent
}