(csp) {
	header {args[0]} Content-Security-Policy "default-src 'self'; img-src 'self' data:; object-src 'none'; base-uri 'none'; form-action 'self'; frame-ancestors 'none'"
}

(headers) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		X-Frame-Options "DENY"
		Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), bluetooth=(), browsing-topics=(), camera=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), identity-credentials-get=(), idle-detection=(), interest-cohort=(), keyboard-map=(), local-fonts=(), magnetometer=(), microphone=(), midi=(), otp-credentials=(), payment=(), picture-in-picture=(), publickey-credentials-create=(), publickey-credentials-get=(), screen-wake-lock=(), serial=(), speaker-selection=(), storage-access=(), sync-xhr=(), usb=(), web-share=(), window-management=(), xr-spatial-tracking=()"
	}
}

toprakkilic.com {
	# basic server init
	root * /srv/www/toprakkilic.com
	encode
	import headers
	import csp *

	# directory listing for /files/, plain file server for everything else
	file_server /files/* {
		browse /srv/www/toprakkilic.com/config/browse.html
		hide .*
	}
	file_server

	# restricted access to non-public files
	@notpublic path /.git/* /README.md /LICENSE /.gitignore /404.html /config/* /kanboard /kanboard/* *.php
	error @notpublic 404
	header /.well-known/openpgpkey/* Access-Control-Allow-Origin "*"

	# redirects and clean urls
	redir /index.html / permanent
	redir /paths/now.html /now permanent
	redir /paths/uses.html /uses permanent
	redir /files /files/
	rewrite /now /paths/now.html
	rewrite /uses /paths/uses.html

	# force download for files, but not for directory listings
	@downloads {
		path /files/*
		not path */
	}
	header @downloads Content-Disposition attachment

	# 404
	handle_errors 404 {
		import headers
		import csp *
		rewrite * /404.html
		file_server
	}
}

# mta-sts
mta-sts.toprakkilic.com {
	root * /srv/www/toprakkilic.com
	import headers
	import csp *

	handle /.well-known/mta-sts.txt {
		file_server
	}
	handle {
		respond 404
	}
}

# wkd advanced method
openpgpkey.toprakkilic.com {
	root * /srv/www/toprakkilic.com
	import headers
	import csp *
	header Access-Control-Allow-Origin "*"

	handle /.well-known/openpgpkey/* {
		file_server
	}
	handle {
		respond 404
	}
}

www.toprakkilic.com {
	import headers
	redir https://toprakkilic.com{uri} permanent
}